 
        
   <div class="services-box">
    <a ng-repeat="c in servicios" href="#/products/?id={{c.id_categoria}}"><div>{{c.categoria}}</div></a>
    
    <!--<a href="#/products"><div>Marketing</div></a>
    <a href="#"><div>Diseño</div></a>
    <a href="#"><div>ATL</div></a>
    <a href="#"><div>Lineamientos Legales</div></a>
    <a href="#"><div>Medios</div></a>
    <a href="#"><div>BTL</div></a>
    <a href="#"><div>Programación</div></a>
    <a href="#"><div>Fotografía</div></a>
    <a href="#"><div>Impresión</div></a>
    <a href="#"><div>SEO</div></a>
    <a href="#"><div>Community Management</div></a>-->
</div>
